html{
  margin: 0em;
  padding: 0em;  
  height: 100%;
}

body{
    margin: 0em;
    padding: 0em; 
    height:100%;
    background-color: whitesmoke;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#cuerpodepagina {
    width:85%;
    height:100%;
    margin: 0em;
    padding: 0em;
    margin-left: 3em;
    position: relative;
}

#MainHeader {
    margin-top: 1em;
}

#MainFooter {
    position: absolute;
    bottom: 1em;
}

h4 {
    text-align: center;
}

header {
    margin: 0em;
    padding: 0em;
    color: black;
}

aside {
    margin: 0em;
    padding: 0em; 
    width:15%;
    height: 100%;
    background-color:rgb(60, 60, 125);
    color: whitesmoke;
}

#botonanadir{
    margin-left: 0.5em;
}

h1{
    margin: 1em;
    padding: 0em;
}

h2 {
    margin: 1em;
    padding: 0em;
    font-size: small;
}

#newchanneltextbox {
    margin: 1em;
    margin-bottom: 0em;
    padding: 0em;
    margin-right: 0.5em;
}

#error1 {
    margin: 1em;
    margin-top: 0em;
    padding: 0em;
    font-size:0.75em;
    color: red;
}

h3{
    margin: 1em;
    padding-top: 3em;
    font-size: medium;
}

.mimenu:hover{
    color:black;
}

*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color:darkgrey;
    font-size: x-small;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
    color:darkgrey;
    font-size: x-small;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    color:darkgrey;
    font-size: x-small;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color:darkgrey;
    font-size: x-small;
}
